{% extends "main.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
<h1>Welcome to emission visual website!</h1>
<!-- <p><a href="/countries">see all countries</a></p> -->
<div id="homepage_info">
    <h3>Promoting a Low-Carbon Lifestyle for a Sustainable Future</h3>
    <p>By visualizing carbon dioxide emissions over the past thirty years for countries around the world, this application aims to raise awareness about climate change and environmental responsibility. Every line in the chart tells a story of energy consumption and its impact on our planet.</p>
    <p>Understanding these trends is the first step toward meaningful action. From conserving electricity and choosing sustainable transportation to reducing single-use plastics, every individual effort contributes to a greener future.</p>
    <p>Let's start with awareness, take action through our choices, and build a more sustainable world—together.</p>
</div>
{% endblock %}